@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#canvas{
 position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
     background-color: #0a0a0a; /* Equivalent to bg-neutral-950 */
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, 
                      rgba(120, 119, 198, 0.3), 
                      rgba(121, 120, 199, 0));
}
/* body{
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
 
} */





.cardComponent{
  animation : fadeInRight 1s ease-in-out;
}
.textComponent{
    animation : fadeInLeft 1s ease-in-out;
}




@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px); /* Start from the left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px); /* Start from the left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}



.odd {
  animation: odd 3s infinite; 
}

.even {
  animation: even 3s infinite;
}

@keyframes odd {
  0% {
    transform: translateY(0); /* Start at normal position */
  }
 
  50% {
    transform: translateY(-20px); /* Move up by 10px */
  }
  100% {
    transform: translateY(0px); /* Move back to normal position */
  }
}

@keyframes even {
  0% {
    transform: translateY(0); /* Start at normal position */
  }
  50% {
    transform: translateY(20px); /* Move down by 10px */
  }
  100% {
    transform: translateY(0); /* Move back to normal position */
  }
}

.up{
   animation : fadeInUP 1s ease-in-out;
}

@keyframes fadeInUP {
  from {
    opacity: 0;
    transform: translateY(100px); /* Start from the left */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}




@media screen and (max-width: 768px) {
 .odd {
  animation: shake 3s infinite; 
}

.even {
  animation: shake 3s infinite;
}

.cardComponent{
  display: none;
}

  
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}